@import "tailwindcss";

@theme {
  --color-primary: #19207b;
  --color-background-light: #f6f6f8;
  --color-background-dark: #121320;
  --font-display: "Inter", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@custom-variant dark (&:is(.dark *));

html, body {
  @apply bg-background-light font-display text-slate-900 antialiased;
  min-height: 100vh;
}

html.dark body {
  @apply bg-background-dark text-slate-100;
}
